#LogConsole {
  -moz-binding: url("../content/xbl/LogConsole.xml#LogConsole");
}

#PreferenceTree {
  -moz-binding: url("../content/xbl/PreferenceTree.xml#PreferenceTree");
}

#NavigationTree {
  -moz-binding: url("../content/xbl/NavTree.xml#NavTree");
}

#TaxonomyTree {
/*  -moz-binding: url("../content/xbl/TaxonomyTree.xml#TaxonomyTree"); */
  -moz-user-focus: normal !important;
  -moz-user-select: text;
}

.node-manager {
	-moz-binding: url("../content/xbl/NodeManager.xml#NodeManager");
}

.node-list {
  -moz-binding: url("../content/xbl/NodeList.xml#NodeList");
  -moz-user-focus: normal !important;
  -moz-user-select: text;
}

.node-editor {
	-moz-binding: url("../content/xbl/NodeEditor.xml#NodeEditor");
}

.node-viewer {
	-moz-binding: url("../content/xbl/NodeViewer.xml#NodeViewer");
}

#workbench tab {
 -moz-binding: url(../content/xbl/TabControl.xml#browser-tab) !important;
 text-align: left !important;
}

.html-editor {
  -moz-binding: url("../content/xbl/HtmlEdit.xml#htmledit");
}

.form-box {
  -moz-binding: url("../content/xbl/FormBuilder.xml#FormBox");
}

/* Collapsible box with a yellow title bar */
.collapsible-box {
	-moz-binding: url("../content/xbl/GUIControls.xml#CollapsibleBox");
}

.collapsible-box .titlebar {
	border : 1px grey solid;
	margin : 1px;
	margin-bottom : 0;
	font-weight :bold;
	background-color : #FFFFAA;
}

.collapsible-box .content {
	border : 1px grey solid;
	margin : 1px;
	margin-top : 0;
	border-top : none;
}

.collapsible-box .btn-hide {
	list-style-image : url("icons/cross.png");
	cursor : pointer;
}

.collapsible-box .btn-collapse {
	list-style-image : url("icons/arrow-down.png");
	cursor : pointer;
}

.collapsible-box[boxcollapsed="true"] .btn-collapse {
	list-style-image : url("icons/arrow-left.png");
}

/* CSS for theme selector */
#themeSelector {
  -moz-binding: url("../content/xbl/ThemeSelector.xml#ThemeSelector");
}

richlistbox[anonid="themeList"] richlistitem {
	-moz-binding: url("../content/xbl/ThemeSelector.xml#ThemeListItem");
}

richlistbox[anonid="themeList"] richlistitem[selected] {
	color : black;
	background : lightyellow;
	border : 1px solid #FFA800;
}

richlistbox[anonid="themeList"] richlistitem[themeEnabled="false"] {
	color : black;
	background : #E0E0E0;
	border : 1px solid;
}

richlistbox[anonid="themeList"] image[class="screenshot"] {
	border : 1px solid;
	margin : 1px;
}

/* CSS for Sites Manager */
#siteManager {
  -moz-binding: url("../content/xbl/SiteManager.xml#SiteManager");
}

richlistitem.site-list-item {
  -moz-binding: url("../content/xbl/SiteManager.xml#SiteListItem"); 
}

/* CSS for Site selection menulist */
.site-selector {
  -moz-binding: url("../content/xbl/GUIControls.xml#SitesSelect");
}

/* Site item status : Available but not logged in */
.site-selector menuitem[status='available'] {
	background-color : lightblue;
}

/* Site item status : Unavailable */
.site-selector menuitem[status='unavailable'] {
	background-color : pink;
}

/* Site item status : Unavailable */
treeitem {
	-moz-binding: url("../content/xbl/GUIControls.xml#TestBindings");
}

