#PreferenceTree treechildren:-moz-tree-image(_site)       { list-style-image:url("icons/configpane/root.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(_page)    	{ list-style-image:url("icons/configpane/config_page.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(_module)  	{ list-style-image:url("icons/configpane/config_module.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(item)       { list-style-image:url("icons/configpane/config_item.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(error)      { list-style-image:url(images/gallery.png); -moz-image-region:rect(16px 80px 32px 64px); }
#PreferenceTree treechildren:-moz-tree-image(loading)    { list-style-image:url("icons/animated/spin-ff16.gif"); -moz-image-region:rect(  0px  16px  16px   0px); }

#PreferenceTree treechildren:-moz-tree-image(select)       { list-style-image:url("icons/configpane/select.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(textfield)       { list-style-image:url("icons/configpane/textfield.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(textarea)       { list-style-image:url("icons/configpane/textarea.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(checkbox)       { list-style-image:url("icons/configpane/checkbox.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(value)       { list-style-image:url("icons/configpane/value.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(button)       { list-style-image:url("icons/configpane/button.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(radios)	{ list-style-image: url("icons/configpane/radios.png");  -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(submit)	{ list-style-image: url("icons/configpane/submit.png");  -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(hidden)	{ list-style-image: url("icons/configpane/hidden.png");  -moz-image-region:rect(  0px  16px  16px   0px); }
#PreferenceTree treechildren:-moz-tree-image(fieldset)	{ list-style-image: url("images/config-control-icons.gif"); -moz-image-region: rect(  1px  75px  18px  58px); }
/*
#PreferenceTree treechildren:-moz-tree-image(fieldset)	{ list-style-image: url("icons/configpane/fieldset.png");  -moz-image-region:rect(  0px  16px  16px   0px); }
*/

#PreferenceTree treechildren::-moz-tree-cell-text(changed) { font-weight: bold; }
#PreferenceTree treechildren::-moz-tree-cell-text(loading) { font-style: italic; }

