@CHARSET "ISO-8859-1";
groupbox[groupboxcollapsed="true"] {
  margin: 5px;
  border:none;
  border-top: 1px solid ThreeDShadow;
  -moz-border-radius: 1px;
  padding: 1px;
}

groupbox > caption {
	cursor : pointer;
}

groupbox > caption:hover {
	color:blue;
	text-decoration: underline;
	cursor : pointer;
}

.html-display {
	-moz-binding: url(../content/xbl/EditorControls.xml#HtmlDisplay) !important;
	margin: 2px 4px;
}

.form-box menulist { height : 20px }

