/*  http://www.akbkhome.com/blog.php/View/99/Remote_XUL_Html_Editor.html */

htmledit 
{
	-moz-binding: url("../content/xbl/HtmlEdit.xml#htmledit");
	min-height: 200px;
}

htmledit toolbarbutton
{
	-moz-appearance: none !important;
}

htmledit toolbarbutton #bold
{
	list-style-image      : url("icons/editor/ed_format_bold.gif");	 
}

htmledit .text-editor {
	font-family: "Lucida Sans Typewriter", "Lucida Console","Courier New", "Monospace";
	font-size : 1.1em;
}