 

UNKNOWN { FONT-SIZE: 8pt; FONT-FAMILY: verdana, geneva, arial, helvetica }
INPUT { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #660000; FONT-FAMILY: verdana, geneva, arial, helvetica }
h1    { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt
	FONT-WEIGHT: bold;
}

A.heading2:link,
A.heading2:active,
A.heading2:visited, 
A.heading2:hover,
heading2a,
h2    { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17pt;
	font-weight : bold;
    
}

p,
td,
b,
i
{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 10pt;
}

.styledbold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17pt;
	font-weight: bold;
}

b 
{
  font-weight: bold;
}

.bodytd 
{
   border: 20px;

}

/* tree menu */
#blognav,
#navcontainer 
{ 
    margin-left:        0px; 
    background-color:   #7288AF;
}

#blognav ul,
#navcontainer ul
{
    margin:             0;
    padding:            0;
    list-style-type:    none;
    font-family:        verdana, arial, Helvetica, sans-serif;
}

#navcontainer li,
#navcontainer ul ul li,
#navcontainer ul ul ul li,
{ 
    margin: 0; 
}

#blognav span,
#navcontainer a
{
    display: block;
    padding: 1px 5px;
    width: 185px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
}
#blognav span a
{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
} 
 
#navcontainer ul ul a
{
    display: block;
    padding: 1px 5px 1px 15px;
    width: 175px;
    color: #000;
    
    text-decoration: none;
    font-size: 8pt;
    font-weight:bold;
}

#navcontainer ul ul ul a
{
    display: block;
    padding: 1px 5px 1px 30px;
    width: 160px;
    color: #000;
    
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
}

span#active1,
a#active1,
a#active2,
a#active3,
#blognav span:hover,
#navcontainer a:hover,
#navcontainer ul a:hover,
#navcontainer ul ul a:hover,
#navcontainer ul ul ul a:hover
{
    color: #000;
    background-color: #889E88;
    text-decoration: none;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
     
     
}



 

 
/* top menu */
/* 
    
    
    f00
    
     blue = #7288AF
     deepblue = #8899C0
     green = #889E88
     deepgreen = #99AA99
*/
#topnavcontainer

{
    position:           relative;  
    width:              100%;
    height:             2em;            /* changed */
    margin:             0; 
    padding:            0;
    border-bottom:      3px solid #889e88;
    background-color:   #7288AF;
    white-space:        nowrap;
    text-align:         center;
    
     
}



#topnavlist
{
    position:           relative;  
    width:              100%;
    height:             2em;            /* changed */
    margin:             0; 
    padding:            0;
    border-bottom:      3px solid #889e88;
    background-color:   #7288AF;
    white-space:        nowrap;
    text-align:         center;
     
     
}

#topnavlist li
{
    float:              left;
    margin:             0 0 0 2px;
    border-width:       1px 1px 0 1px;
    border-style:       solid;
    border-color:       #aaa #555 #889e88 #999;
    list-style-type:    none;
}


/* nornal top link */


#topnavlist li a
{
    position:       relative;
    width:          8em;         /* changed */
    display:        block;
    margin:         0;
    padding:        1px 0.4em;
    border-width:   1px 1px 0 1px;
    border-style:   solid;
    border-color:   #ccc;
    background-color: #8899C0;
    color:          #eee;
    font:           normal 0.7em/120% Verdana, Arial, Helvetica, sans-serif;
   
    text-decoration: none;
}

#topnavlist li a:hover
{
    color:              #ffc;
    background-color:   #7288AF;
    text-decoration:    underline;
}

#topnavlist li#topactive a
{
    font-weight:         bold;
    background-color:    #889e88;
    color:               #fff;
    border-color:        #fff #ccc #889e88 #fff;
}

#topnavlist li#topactive a:hover 
{ 
    color: #fff; 
}

#topnavlist ul#topsubnavlist 
{
    position:           absolute;
    width:              100%;
       
    text-align:     center;
    top:                1.25em;
    height:             0.75em;
    margin:             0;
    padding:            0;
    border-bottom:      3px solid #889e88;
    background-color:   #7288AF;
    white-space:        nowrap;
}

#topnavlist ul#topsubnavlist li
{
    /* width:      150px; */
    width:              auto;
    margin:     0;
    border:     0;
}

#topnavlist ul#topsubnavlist li a
{
     width:              auto;
    /* width:              150px; */
    padding:            0.06em 1em 0;
    border:             0;
    background-color:   #7288AF;
    color:               #fff;
    font: normal normal 0.66em/110% Verdana, Arial, sans-serif;
}

#topnavlist ul#topsubnavlist li a:hover
{
    color: #ffc;
    background-color: #8899C0;
    text-decoration: underline;
    font-weight: 400;
    /* IE5/Mac disappearing item fix */
}

#topnavlist ul#topsubnavlist li#topsubactive a
{
    background-color: #99AA99;
    color: #FFF;
}

* html > body #topnavlist, * html > body #topnavlist ul#topsubnavlist
{
    width: 1000px;
    /* IE5/Mac fixed width fix */
}










/* serendipty stuff */



/*
h4,h3 {
    margin: 0;
}

BODY {
    font-size: 10pt;
    margin: 0;
    background-color: #D2DFF2;
    font-size: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
}

INPUT, TEXTAREA {
    font-size: 10pt;
    font-family: verdana, arial, helvetica, sans-serif;
}

TH, TD {
    font-size: 10pt;
}

P, TD, TH, DIV, SPAN {
    font-family: verdana, arial, helvetica, sans-serif;
}


A:link,
A:visited,
A:active {
    color: #003366;
    text-decoration: underline;
}
A:hover {
    color: #000000;
    text-decoration: underline;
}

*/

.serendipitySideBarContent input {
    width: 175px;
}

#mainpane {
    border-left: 2px solid #AAAAAA;
    border-right: 2px solid #AAAAAA;
    border-bottom: 1px solid #000000;
    margin: auto;
    width: 95%;
    border-top: 0px;
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
}

#content {
    width: auto;
}

#serendipityRightSideBar {
    width: 180px;
    border-left: 1px dashed #000000;
    padding: 10px;
    background-color: #FAFFFF;
    vertical-align: top;
}

#serendipityLeftSideBar {
    width: 180px;
    border-right: 1px dashed #000000;
    padding: 10px;
    vertical-align: top;
    background-color: #FAFFFF;        
}

 
 

.serendipity_title {
    margin: 0;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 13pt;
    margin-top: 10px;
    color: #333333;
    padding-left: 5px;
    background-color: #FAFFFF;
    display: block;
    border: 2px solid #666666;
    border-bottom: 0;
    clear: both;
}

.serendipity_title a:link,
.serendipity_title a:visited {
   text-decoration: none;
   border: 0;
   color: #000000;
}

.serendipity_title a:hover {
   color: #FF0000;
}

 


.serendipity_entry {
    clear: both;
    font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #333333;
    border: 1px solid #666666;
    border-top: 0;
    font-size: 9.5pt;
    font-weight: normal;
    padding: 10px ;
    display: block;
    background-color: AliceBlue;
}

div.serendipity_Entry_Date {
    padding: 1px;
    margin: 1px;
    width: auto;
}

.serendipity_date {
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: large;
    color: #333;
    margin: 0;
    font-weight: bold;
}

.serendipity_commentsTitle {
    display: block;
    width: 100%;
    color: #404040;
    font-size: 12px;
    font-weight: bold;
    padding-left:8px;
    
}

div.serendipity_entryFooter {
    font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 4px;
    clear: both;
}

TD.serendipity_commentsLabel {
    font-size: 12px;
    font-weight: bold;
    width: 10%;
    vertical-align: top;
}

.serendipityCommentForm {
    font-size: 13px;
    color: #404040;
    margin-bottom: 13px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #666666;
}

.serendipity_comment {
    font-size: 13px;
    margin-right: 2px;
    margin-left: 2px;
    color: #404040;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #666666;
    margin-top:8px;
}

.serendipity_comment_source {
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

TD.serendipity_admin {
    padding: 10px;
}

TABLE.serendipity_calendar TD {
    font-size:11px;
    padding: 3px;
}
TABLE.serendipity_calendar A {
    color: #FF0000;
    font-weight: bold;
    text-decoration:none;
}

TABLE.serendipity_calendar A:hover {
    text-decoration: none;
}

TD.serendipity_weekDayName {
    font-size:11px;
    font-weight:bold;
}
TD.serendipity_calendarHeader A:link,
TD.serendipity_calendarHeader A:visited,
TD.serendipity_calendarHeader A:hover {
    border: 0;
    text-decoration: none;
}
div.serendipityPlug, div.serendipityPlug A {
    font-size: 11px;
    text-decoration: none;
    border: 0px;
}

/* Container for each item on the side bar */
div.serendipitySideBarItem {
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight:normal;
    border-bottom: solid 2px #000000;
}

/* title of an individual item */
.serendipitySideBarTitle {
    margin: 0;
    font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight:bold;
    padding-left:2px;
    padding-bottom:2px;
}

.serendipityImageButton {
    cursor: pointer;
}

td.serendipitySideBar {
    font-size: 12px;
    width: 180px;
    padding: 10px;
    border-right: 1px dashed #4068ab;
}

div.serendipity_admin_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

div.serendipity_admin_list_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

td.serendipity_admin_list_item {
    padding: 15px;
    border: dashed 1px #000000;
}



.tablewarning{
        border-color : #FFFFFF #000000 #000000;
        border : 0px none;
        border-collapse : collapse;
        padding : 0px;
        MARGIN: 15px;
}
.tdheaderwarning {
        color : #FFFFFF;
        FONT-FAMILY: arial,geneva,helvetica,sans-serif;
        font-size : 14px;
        font-weight : bold;
        padding-bottom : 0px;
        padding-left : 0px;
        padding-right : 0px;
        padding-top : 0px;
        text-align : center;
        vertical-align : middle;
        background-color: #cc3333;
}
.tdbodywarning {
        border-bottom-width : 1px;
        border-color : #000000 #333333 #333333;
        border-left-width : 1px;
        border-right-width : 1px;
        border-style : dashed;
        border-top-width : 0px;
        padding-left : 15px;
        padding-right : 15px;
        padding-top : 15px;
        padding-bottom : 15px;
        background-color: #eecccc;
        FONT-FAMILY: arial,geneva,helvetica,sans-serif;
        font-size : 10px;
        COLOR: #000000;
}



.tablenotice{
        border-color : #FFFFFF #000000 #000000;
        border : 0px none;
        border-collapse : collapse;
        padding : 0px;
        MARGIN: 15px;
}
.tdheadernotice {
        color : #FFFFFF;
        FONT-FAMILY: arial,geneva,helvetica,sans-serif;
        font-size : 14px;
        font-weight : bold;
        padding-bottom : 0px;
        padding-left : 0px;
        padding-right : 0px;
        padding-top : 0px;
        text-align : center;
        vertical-align : middle;
        background-color: #33cc33;
}
.tdbodynotice {
        border-bottom-width : 1px;
        border-color : #000000 #333333 #333333;
        border-left-width : 1px;
        border-right-width : 1px;
        border-style : dashed;
        border-top-width : 0px;
        padding-left : 15px;
        padding-right : 15px;
        padding-top : 15px;
        padding-bottom : 15px;
        background-color: #cceecc;
        FONT-FAMILY: arial,geneva,helvetica,sans-serif;
        font-size : 10px;
}



tr.isBlackListed0 {
	background-color : #00000;
	color: #999999;
}
tr.isBlackListed1 {
	background-color : #cccccc;
	color: #000000;
}


.phpcode, pre  {
  border-top: solid #8899C0 5pt;
  border-bottom: solid #8899C0 1pt;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11px;
  line-height: 15px;
  margin-top: 10px;
  width: 93%;
  display: block;
  background-color: #eeeeee;
  color: #000000;
  
} 

