/*
  _es_logger  styles
  (c) 2005 davidfmiller
  http://www.fivevoltlogic.com/code/_es_logger /

  note: this stylesheet is designed to work with the stock configuration of
        the _es_logger .js file; changes made there may or may not lead to
        changing this file as well.

  history:
        v0.1  February 3, 2005
        - basics in place
*/

._logger  {
	border: 1px solid #ddd;
	background-color: #fff0f0;
}


._logger > richlistitem {
  padding: 5px;
  border-bottom: 1px dotted black;
}

._logger  .verbose .log-title 	{ background-image: url("icons/logger/magnet.png"); color: #0AAD14; font-style: italic; }
._logger  .debug   .log-title  	{ background-image: url("icons/logger/debug.png");  color: #0C7D14; font-weight: normal; }
._logger  .info    .log-title 	{ background-image: url("icons/logger/info.png");   color: #0066B3; font-weight: normal; }
._logger  .warning .log-title 	{ background-image: url("icons/logger/warn.png");   color: #300000; font-weight: normal; }
._logger  .error   .log-title  	{ background-image: url("icons/logger/error.png");  color: #EE0000; font-weight: bold; }
._logger  .fatal   .log-title  	{ background-image: url("icons/logger/fatal.png");  color: #656565; font-weight: bold; }

._logger .log-title {
  margin : 2px;
  padding-bottom : 2px;
  padding-left : 20px;
  height : 20px;
	background-repeat: no-repeat;	
	font-size: 1.2em;
	font-family : Verdana;
}

._logger .log-object-key:hover {
	color:blue;
	text-decoration: underline;
	cursor : pointer;
}
