#imgLogo {	list-style-image: url(images/druplicon.3dcell.small.png);	width: 8px;	height: 100px;}
#imgRotatingArrow {	list-style-image:url("icons/animated/spin-arrows.gif");	width: 16px;	height: 16px;}
#imgMessage { list-style-image: url(images/gallery.png); -moz-image-region: rect( 32px  80px  48px  64px); }
#imgClose { list-style-image: url(images/gallery.png); -moz-image-region: rect( 32px  96px  48px  80px); }
#lblLoadingScreen {	color:#326492; font-family:Arial; font-weight:bold; font-size:1.4em;}

#mainBar .title   {color:#7EACF2; font-family:verdana; font-size:1.2em; }
.toolbutt {padding:5px; -moz-box-align:center; -moz-box-pack:center; }

#mainBar .mainlogo   {height:32px; background:url("images/druplicon.header.png"); width:90px; cursor:pointer;}
#mainBar .mainback   {height:32px; background:url(images/headerback.png);}
#mainBar    {height:34px; background:url(images/headerback.png);}
#messageBar {background-color:#FFFFDD; border:1px solid #AAAAAA}

#tbLogout { list-style-image: url(icons/user_login.gif);  cursor:pointer;}
#tbHideHeaderBar{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  16px  64px   0px); cursor:pointer;}

#siteManagerReload{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  96px  64px  80px); }
#siteManagerAdd { list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px  80px  16px  64px); }
#siteManagerDelete { list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px  96px  16px  80px); }
#siteManagerQuery{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 32px 112px  48px  96px); }

richlistbox {
  padding: 5px;
  border-bottom: 1px dotted black;
  background-image: url("images/gallery.png");
  background-color: green;
}

richlistitem {
  padding: 5px;
  border-bottom: 1px dotted black;
}

.log-object-key:hover {
	color:blue;
	text-decoration: underline;
	cursor : pointer;
}

/* buttons */
#tb01{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px  16px  16px   0px); }
#tb02{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 16px  32px  32px  16px); }
#tb05{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px 128px  16px 112px); }
#tb06{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 32px  48px  48px  32px); }
#tb07{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px 112px  16px  96px); }
#tb08{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px 112px  16px  96px); }
#tb09{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px  96px  16px  80px); }
#tb10{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px 128px  16px 112px); }

#tb12{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 16px  96px  32px  80px); }
#tb13{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px 112px  16px  96px); }
#tb14{ list-style-image: url(images/gallery.png); -moz-image-region: rect(  0px  48px  16px  32px); }
#tb15{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 16px  96px  32px  80px); }
#tb16{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 32px  64px  48px  48px); }
#tb17{ list-style-image: url(images/yqsmall.gif); }
#tb18{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 16px 112px  32px  96px); }
#tb19{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 16px 128px  32px 112px); }

#tb31{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  32px  64px  16px); cursor:pointer;}
#tb32{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  80px  64px  64px); cursor:pointer;}
#tb33{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  48px  64px  32px); cursor:pointer;}
#tb34{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  64px  64px  48px); cursor:pointer;}

#tb92{ list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px  96px  64px  80px); }
#tb93[preview="true"] { list-style-image:url(images/gallery.png); -moz-image-region:rect( 32px 128px  48px 112px); }
