.navtree treechildren::-moz-tree-image(nodetypes)   { list-style-image:url(icons/navtree_nodetypes.gif); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(nodetype)    { list-style-image:url(icons/navtree_nodetype.png); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(vocabularies)  { list-style-image:url(icons/navtree_vocabularies.png); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(vocabulary)  { list-style-image:url(icons/navtree_vocabulary.png); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(term)        { list-style-image:url(icons/navtree_term.png); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(site)        { list-style-image:url(icons/navtree_site.gif); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(error)       { list-style-image:url(icons/navtree_term.png); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-image(loading)     { list-style-image:url("icons/animated/spin-ff16.gif"); -moz-image-region: rect(  0px  16px  16px   0px); }
.navtree treechildren::-moz-tree-cell-text(loading) { font-style: italic; }
