#nodeManagerTabbox tabpanels {
	margin:0px;
	padding : 0px;
	background-color : #FFFFFF;
}
#nodeManagerTabbox tab { 
		list-style-image: url(images/gallery.png);
		-moz-image-region: rect( 48px 112px  64px  96px);  
 		max-width : 250px;
 		min-width:50px;
}

#nodeManagerTabbox tab	.tab-text-bold { font-weight:bold; padding-left:0px; padding-right:5px;}

.node-viewer {
	margin: 5px;
	border : 1px solid #919EA4;
}

.node-viewer hbox[anonid="viewTitle"] {
	border-bottom : 1px solid #919EA4;
}

.node-viewer .field {
	font-weight:bold;
	width:70px;
	text-align: right;
}

.node-list {
	padding-top: 5px;
	padding-bottom : 5px; 
}

.node-editor textbox.plain {background: none; }
.node-editor menulist { height : 20px }
.node-editor groupbox caption { color : darkblue; }
.node-editor groupbox[groupboxcollapsed="true"] caption { color : blue; }

.linkbutton > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
  -moz-padding-end: 2px !important;
  -moz-padding-start: 2px !important;
}

.linkbutton {
  -moz-appearance: none;
  padding: 4px 2px;
  border: none !important;
}

.linkbutton:hover {
	color:blue;
	text-decoration: underline;
	cursor : pointer;
}

.img-new 			{  list-style-image: url("icons/node_new.png");  -moz-image-region: rect(0px, 16px, 16px, 0px); }
.img-edit 		{  list-style-image: url("icons/node_edit.png");  -moz-image-region: rect(0px, 16px, 16px, 0px); }
.img-delete 	{  list-style-image: url("icons/node_delete.gif");  -moz-image-region: rect(0px, 16px, 16px, 0px); }
.img-comment 	{  list-style-image: url("icons/node_comment.gif"); -moz-image-region: rect(0px, 16px, 16px, 0px); }
.img-reset 		{  list-style-image: url("icons/node_reset.png");  -moz-image-region: rect(0px, 16px, 16px, 0px); }
.img-submit 	{  list-style-image: url("icons/node_submit.png");  -moz-image-region: rect(0px, 16px, 16px, 0px); }

toolbarbutton[anonid="tbHome"] 		 { list-style-image: url(images/gallery.png); -moz-image-region: rect( 48px 112px  64px  96px); }
toolbarbutton[anonid="tbFirst"] 	 { list-style-image:url("icons/go-first.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
toolbarbutton[anonid="tbPrevious"] { list-style-image:url("icons/go-previous.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
toolbarbutton[anonid="tbNext"] 		 { list-style-image:url("icons/go-next.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
toolbarbutton[anonid="tbLast"]     { list-style-image:url("icons/go-last.png"); -moz-image-region:rect(  0px  16px  16px   0px); }
