/* This is just an example.  You shouldn't do this. */
#drupman-hello
{
  color: red ! important;
}
#drupman-toolbar-button
{
  list-style-image: url("chrome://drupman/skin/icons/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#drupman-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #drupman-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #drupman-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
