/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-1999
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

h1.split {font-size:2em; position:relative; font-family:georgia, "times new roman", serif; height:1em;}
h1.split span.line {position:absolute; left:0; top:0; color:#0a0; height:0.6em; overflow:hidden; border-bottom:1px solid #fff;}
h1.split span.noline {position:absolute; left:0; top:0; color:#00a; height:0.6em; overflow:hidden;}
h1.split:before {content:attr(title); position:absolute; left:0; top:0; color:#c60;}
h1.split span.dgrey {color:#555;}
h1.ln:before {color:#c60;}
h1.lgrey:before {color:#aaa;}
* html h1.split span.line, * html h1.split span.noline {overflow:visible;}

#overview {
}

#overviewGrid {
  background-color: -moz-Dialog;
  -moz-appearance: none;
	font-family : "Trebuchet MS";
	background: url(images/overview_background.png) repeat-x 0% 0%;
  background-color: #5AB5EE;
}

#overview separator {
  display: none;
}

#overview separator.thin {
}


/* ::::: rows ::::: */

#overviewGrid > rows {
  margin: 15px;
  -moz-border-radius: 12px;
  border: 1px solid black; /* ThreeDShadow; */
  background-color: #ECF7FD;
}

#overviewHeaderRow {
  margin: 5px 5px 20px 5px !important;
  padding: 5px 15px 5px 40px;
  font-weight: bold;
  font-size: 12px;
  /* border-bottom: 1px solid ThreeDLightShadow; */
}

.overviewRow {
  height: 12px;
  padding: 5px 7px;
  color: windowtext;
  margin: 0px 10px 0px 10px !important;
  border: none;
}

.row-iconic-icon {
  list-style-image: inherit;
  margin-right: 10px;
}

.overviewTitleRow {
  font-weight: bold;
  font-size: 14px;
}

.overviewRowTitleBox description {
	 width : 320px;
   border-bottom: 1px solid black; /* ThreeDShadow; */
}

/* ::::: links ::::: */

.overviewLinkText {
  cursor: pointer;
}

.overviewLinkText:hover {
  color: blue;
  text-decoration: underline;
}

.overviewLinkText:hover:active {
  color: #FF0000;
}

.overviewRow label {
  padding-left: 50px;
  font-size: 13px;
  padding-top: 2px;
}

