marquee {
	border:		1px solid ButtonShadow;
	background:	Window;
	height:		12px;
	font-size:	1px;
	margin:		1px;
	width:		147px;
	-moz-binding:	url("../content/xbl/Marquee.xml#marquee");
	-moz-box-sizing:	border-box;
	display:		block;
	overflow:		hidden;
}

marquee span {
	height:			8px;
	margin:			1px;
	width:			6px;
	background:		Highlight;
	float:			left;
	font-size:		1px;
}

.progressBarHandle-0 {
	-moz-opacity:	0.20;
}

.progressBarHandle-1 {
	-moz-opacity:	0.40;
}

.progressBarHandle-2 {
	-moz-opacity:	0.6;
}

.progressBarHandle-3 {
	-moz-opacity:	0.8;
}

.progressBarHandle-4 {
	-moz-opacity:	1;	
}