/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is richtree.
 *
 * The Initial Developer of the Original Code is
 * Yoono http://www.yoono.com
 * Portions created by the Initial Developer are Copyright (C) 2006
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *    Laurent Jouanneau <laurent.jouanneau@disruptive-innovations.com> (original author)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

richlistitem[type=treeitem] {
    -moz-binding:url('../content/xbl/richtreebox.xml#richtreeitem-leaf');
    font: 10px arial, sans-serif;
}

richlistitem[type=treeitem][container] {
    -moz-binding:url('../content/xbl/richtreebox.xml#richtreeitem-container');
}

richlistitem richtreetwisty {
    min-height:14px;
    min-width:14px;
    background-image:url('chrome://yoono/skin/nestingline_t.png');
    background-repeat:no-repeat;
}

richlistitem[container] richtreetwisty {
    -moz-binding:url('../content/xbl/richtreebox.xml#twisty');
    background-image:url('icons/richtreebox/icone_plus_t.png');
}

richlistitem[lastOfLevel] richtreetwisty {
    background-image:url('icons/richtreebox/nestingline_corner.png');
}

richlistitem[container][open] richtreetwisty {
    background-image:url('icons/richtreebox/icone_moins_t.png');
}

richlistitem[container][lastOfLevel][open] richtreetwisty {
    background-image:url('icons/richtreebox/icone_moins_corner.png');
}

richlistitem[container][lastOfLevel] richtreetwisty {
    background-image:url('icons/richtreebox/icone_plus_corner.png');
}

spacer.richtreespacer {  
    min-height:14px;
    min-width:14px;
}

spacer.richtreenestinglinesimple {
    min-height:14px;
    min-width:14px;
    background-image:url('icons/richtreebox/nestingline.png');
    background-repeat:repeat-y;
}
