sidebarbutton {
	padding:8px;
	border-bottom:1px solid lightblue;
	background:url(images/sidebar_background.gif);
	-moz-binding: url("../content/xbl/GUIControls.xml#sidebarbutton");
}

sidebarbutton[selected] {
	background:none;
	background-color:#FFFF77;
}

sidebarbutton:hover {
	background:none;
	background-color:#FFFFCC;
	cursor:pointer;
}

sidebarbutton label:hover {
	cursor:pointer;
}

#sidebarButtonContainer { 
	border : 1px grey solid;
	margin : 1px; 
	-moz-binding: url("../content/xbl/GUIControls.xml#SidebarButtonContainer");
} 


#overviewButton {
 list-style-image: url(icons/desktop.png); -moz-image-region: rect(  0px  22px  22px   0px); 
}

#nodeManagerButton {
 list-style-image: url(icons/node.png); -moz-image-region: rect(  0px  22px  22px   0px); 
}

#userManagerButton {
 list-style-image: url(icons/users.png); -moz-image-region: rect(  0px  22px  22px   0px); 
}

