#xmlrpcMethodTree {
	padding : 0;
	margin : 0;
	min-width : 200px;
}

#xmlrpcCallHistory {
	min-height : 20px;
}

#xmlrpcMethodTree treechildren::-moz-tree-column(colValue) { background-color:#EFEFEF; }
#xmlrpcMethodTree treechildren::-moz-tree-cell(colValue)   { border-bottom:1px dotted #CCCCCC; }

#xmlrpcMethodTree treechildren::-moz-tree-image(loading) 		 { list-style-image: url("chrome://drupman/skin/icons/animated/spin-ff16.gif");  -moz-image-region:rect( 0px 16px 16px  0px); }
#xmlrpcMethodTree treechildren::-moz-tree-image(site) 			 { list-style-image: url("site.png");  -moz-image-region:rect( 0px 16px 16px  0px); }
#xmlrpcMethodTree treechildren::-moz-tree-image(package)     { list-style-image: url("package.png"); -moz-image-region:rect( 0px 16px 16px  0px); }
#xmlrpcMethodTree treechildren::-moz-tree-image(method)      { list-style-image: url("method.png");  -moz-image-region:rect( 0px 16px 16px  0px); }

#xmlrpcinspectorButton { list-style-image: url("xmlrpcinspector.png"); -moz-image-region:rect( 0px 22px 22px  0px); }

#xmlrpcRefresh { 
 list-style-image: url(chrome://drupman/skin/images/gallery.png);
 -moz-image-region: rect( 48px  96px  64px  80px);
}

#xmlrpcMakeCall { 
 list-style-image: url("makecall.png"); -moz-image-region:rect( 0px 16px 16px  0px); 
}

#tbOpen  { -moz-image-region: rect( 39px  37px  56px  20px); }
#tbSave  { -moz-image-region: rect( 39px  56px  56px  39px); }

#tbUndo  { -moz-image-region: rect( 39px 132px  56px 115px); }
#tbCut   { -moz-image-region: rect( 39px 170px  56px 153px); }
#tbCopy  { -moz-image-region: rect( 39px 189px  56px 172px); }
#tbPaste { -moz-image-region: rect( 39px 208px  56px 191px); }
#tbDupli { -moz-image-region: rect( 39px 303px  56px 286px); }

#tbLeft  { -moz-image-region: rect(  1px 303px  18px 286px); }
#tbRight { -moz-image-region: rect(  1px 322px  18px 305px); }
#tbUp    { -moz-image-region: rect(  1px 341px  18px 324px); }
#tbDown  { -moz-image-region: rect(  1px 360px  18px 343px); }

#tbDesign{ -moz-image-region: rect( 39px 322px  56px 305px); }
#tbSource{ -moz-image-region: rect( 39px 341px  56px 324px); }
#tbLaunch{ -moz-image-region: rect( 39px  75px  56px  58px); }

/* Treebar */
#treebar    { margin-left:4px; width:360px; }
#tbNewItem  { -moz-image-region: rect( 77px  17px  94px   1px); }
#tbSubItem  { -moz-image-region: rect( 77px  36px  94px  20px); }
#tbAttribute{ -moz-image-region: rect( 77px 112px  94px  96px); }
#tbComment  { -moz-image-region: rect( 77px  93px  94px  77px); }
#tbDirective{ -moz-image-region: rect( 77px  74px  94px  58px); }
#tbDuplicate{ -moz-image-region: rect( 77px 131px  94px 115px); }
#tbDelete   { -moz-image-region: rect( 97px  37px 113px  20px); }

/* Viewbar */
#viewbar   { margin-left:4px; }
#tbPreview { -moz-image-region: rect( 39px  75px  56px  58px); }
#tbHome    { -moz-image-region: rect(  1px 379px  18px 363px); }
